body {
	background-color: black;
	color: white;
	font-size: 1.1em; 
	line-height: 1.5em; 
	max-width: 45em; 
	margin: 0px; 
	padding: 0 2%;
}

code {
	color: #00FF41;
	font-family: 'Courier New', monospace;
}

summary {
	width: fit-content;
	cursor: pointer;
}

.indent, details {
	margin-left: 3em;
}

.copy-text {
	background-color: black;
	margin-top: 1em;
}

.fa-clipboard {
	color: white;
}

a{
	color: #008F11;
	text-decoration: none;
}
