---
---
<!DOCTYPE html>
<html lang="en-US">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <meta name="description" content="A collection of some TI-BASIC scripts I use often">
        <meta name="author" content="Charles Averill">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="TI-BASIC Scripts">
        <meta name="twitter:description" content="A collection of some TI-BASIC scripts I use often">
        <meta name="twitter:site" content="@caverill_">

        {% include analytics.html %}

        <title>TI-BASIC Scripts</title>

        <link href="../css/codepage.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<h1>
			<a href="../index.html">
				<i class="fa fa-home" style="font-size:36px; margin-left: 1em;"></i>
			</a>
			(Somewhat) useful TI-BASIC scripts
		</h1>
		<p>
			These scripts are written for a TI-85, so there are modern counterparts to many of these commands. 
			<br>
			<code>-></code> represents the <code>STO></code> key.
		</p>

		<details class="indent">
			<summary>PRMTVECS</summary>
			<button class="copy-text" onclick="copyText('#prmtvecs')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				Prompts for two 3D Vectors as U/V XYZ. 
				<br>
				Dependency for multiple scripts that follow.
			</p>
			<pre class="indent"><code id="prmtvecs">Prompt UX,UY,UZ,VX,VY,VZ
			</code></pre>
		</details>

		<br>

		<details class="indent">
			<summary>BASECONV</summary>
			<button class="copy-text" onclick="copyText('#baseconv')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A Base Converter that works from bases 2-10. Other bases are undefined behavior.
			</p>
			<pre class="indent"><code id="baseconv">ClLCD

Input "DIGITS: ",D
Input "NUM: ",A
Input "SRC BASE: ",B
Input "DEST BASE: ",F

O->T
O->C

For(J,0,D-1)
int(A/(10^(D-1-J)))->C
C*B^(D-1-J)+T->T
A-C*10^(D-1-J)->A
End

1->P
0->E
For(K,0,15)
int(T/(F^(15-K)))->E
Outpt(5,P,E)
T-(E*F^(15-K))->T
P+1->P
End
Disp ""</code></pre>
		</details>

		<details>
			<summary>BASELOG</summary>
			<button class="copy-text" onclick="copyText('#baselog')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A calculator that solves logarithmic expressions of form logB(A) = E
			</p>
			<pre class="indent"><code id="baselog">Disp "BASE - 1","ARGUMENT - 2","EXPONENT - 3","WHICH NEEDED? "
Prompt Z

If(Z==1)
Then
Prompt A,E
Disp (E^x√A)
End

If(Z==2)
Then
Prompt B,E
Disp (B^E)
End

If(Z==3)
Then
Prompt B,A
log A->T1
log B->T2
Disp (T1/T2)
End
</code></pre>

		</details>

		<details>
			<summary>BOUNCE</summary>
			<button class="copy-text" onclick="copyText('#bounce')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				An animation that bounces a pixel across your graph screen
			</p>
			<pre class="indent"><code id="bounce">ClLCD
ZStd
ZSqr
AxesOff
DispG

0->A
0->B
e^(-1)->C
π^(-1)->D

While (1==1)
If A>=17 or A<=-17
C*-1->C
If B>=10 or B<=10
D*-1->D
A+C->A
B+D->B
PtChg(A,B)
End</code></pre>
		</details>

		<details>
			<summary>CROSPROD</summary>
			<button class="copy-text" onclick="copyText('#crosprod')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				3D Cross Product calculator
			</p>
			<pre class="indent"><code id="crosprod">PRMTVECS

((UY*VZ)-(UZ*VY))->I
((UX*VZ)-(UZ*VX))*-1->J
((UX*VY)-(UY*VX))->K

Disp I,J,K</code></pre>
		</details>

		<details>
			<summary>DIST</summary>
			<button class="copy-text" onclick="copyText('#dist')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A 3D Distance calculator
			</p>
			<pre class="indent"><code id="dist">PRMTVECS

√((VX-UX)^2+(VY-UY)^2+(VZ-UZ)^2)->O                                             
                                                                                
Disp O</code></pre>

		</details>

		<details>
			<summary>DOTPROD</summary>
			<button class="copy-text" onclick="copyText('#dotprod')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A 3D Dot Product calculator
			</p>
			<pre class="indent"><code id="DOTPROD">PRMTVECS

(UX*VX)+(UY*VY)+(UZ*VZ)->O

Disp O
			</code></pre>

		</details>

		<details>
			<summary>FACTORS</summary>
			<button class="copy-text" onclick="copyText('#factors')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A program that prints the factors of a number
			</p>
			<pre class="indent"><code id="factors">Prompt N

For(I,2,N,1)
Disp I,(N/I)->Frac,"-----"

Pause
End
			</code></pre>

		</details>

		<details>
			<summary>FIBON</summary>
			<button class="copy-text" onclick="copyText('#fibon')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A program that generates fibonacci numbers
			</p>
			<pre class="indent"><code id="fibon">Prompt N
If N==-1
Then
0->ONE
0->TWO
1->LAST

Disp 0,1

While 1==1
Pause
Disp TWO+LAST

LAST->TWO
ONE+TWO->LAST
TWO->ONE

End
Else
.5(1+√(5
(Ans^N-(-Ans)^-N)/√5
			</code></pre>

		</details>

		<details>
			<summary>FLX2SURF</summary>
			<button class="copy-text" onclick="copyText('#flx2surf')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A calculator for determining the flux through a surface
			</p>
			<pre class="indent"><code id="flx2surf">Prompt E,A,THETA
Disp E*A*cos THETA
			</code></pre>

		</details>

		<details>
			<summary>INTEGRAL</summary>
			<button class="copy-text" onclick="copyText('#integral')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A wrapper function for the fnInt function
			</p>
			<pre class="indent"><code id="integral">Disp "LOAD FUNC IN y1"

Prompt LO,HI

Disp fnInt(y1,x,LO,HI)
			</code></pre>

		</details>

		<details>
			<summary>POLCART</summary>
			<button class="copy-text" onclick="copyText('#polcart')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A program that converts between Cartesian and Polar coordinates
			</p>
			<pre class="indent"><code id="polcart">Disp "P2C (1) OR C2P (2)"
Prompt A

If A==1
Then
Prompt R,T

Disp "X:",R*cos T
Disp "Y:",R*sin T

Else
Prompt X,Y

Disp "R:",√(X^2+Y^2)
Disp "T:",tan^-1(Y/X)

End
			</code></pre>

		</details>

		<details>
			<summary>POLDIST</summary>
			<button class="copy-text" onclick="copyText('#poldist')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A Polar distance calculator
			</p>
			<pre class="indent"><code id="poldist">Prompt R1,T1,R2,T2

Disp √(R1^2+R2^2-2(R1)(R2)cos (T1-T2))
			</code></pre>

		</details>

		<details>
			<summary>PONG</summary>
			<button class="copy-text" onclick="copyText('#pong')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A basic 1-player Pong implementation
			</p>
			<pre class="indent"><code id="pong">3->M
20->X
1->S
1->T
0->C

abs (int ((rand*10)-8))->Y

Repeat K==16 or X==1 and M/=Y
ClLCD

Outpt(M,1,"[")
Outpt(1,1,C)
Outpt(Y,X,"O")

getKy->K

max(1,min(8,M+(Ans==34)-(Ans==25->M
T(Y>1 and Y<8)+(Y==1)-(Y==8->T
S(X>1 and X<21)+(X==1)-(X--21->S

X+Ans->X
Y+T->Y

If (X==1)
Then
C+1->C
End
End

Pause "GAME OVER"
ClLCD:""

If (C>HISCORE)
Then
C->HISCORE
Disp "NEW HIGH SCORE!",C
End

If (C<=HISCORE)
Then
Disp "SCORE:",C
Disp "HIGH SCORE:",HISCORE
End
			</code></pre>

		</details>

		<details>
			<summary>PROJECT</summary>
			<button class="copy-text" onclick="copyText('#project')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A 3D Vector projection calculator
			</p>
			<pre class="indent"><code id="project">Disp "V ONTO U"
PRMTVECS

(UX*VX)+(UY*VY)+(UZ*VZ)->DP
√(UX^2+UY^2+UZ^2)->MAG
DP/MAG->SP

Disp UX*SP/MAG->Frac
Disp UY*SP/MAG->Frac
Disp UZ*SP/MAG->Frac
Disp "SP",SP</code></pre>

		</details>

		<details>
			<summary>QUADR</summary>
			<button class="copy-text" onclick="copyText('#quadr')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A calculator for the quadratic formula
			</p>
			<pre class="indent"><code id="quadr">Prompt A,B,C

0->x1
0->x2

((-1*B)+√((B^2)-(4*A*C)))/(2*A)->x1
((-1*B)-√((B^2)-(4*A*C)))/(2*A)->x2

Disp x1,x2
			</code></pre>

		</details>

		<details>
			<summary>SUMCALC</summary>
			<button class="copy-text" onclick="copyText('#sumcalc')">
				<i class="fa fa-clipboard"></i>
			</button>
			<p>
				A wrapper for the sum function
			</p>
			<pre class="indent"><code id="sumcalc">Disp "PUT EXPR IN y1"

Prompt LO
Prompt HI
Prompt STEP

Disp sum (seq(y1,x,LO,HI,STEP))
			</code></pre>

		</details>

		{% include codepage_footer.html %}

		<script src="../js/codepage.js"></script>
	</body>
</html>
