body {
    background: #4293c0;
    font-size: 1.1em; 
    line-height: 1.5em; 
    max-width: 45em; 
    margin: auto; 
    padding: 0 2%;
}

h1, h2 {
    font-family: Forest;
    color: #ff8000;
    -webkit-text-stroke: .5px black;
}

li {
    list-style-image: url(../images/list.png);
}

a, i {
    color: #ff9800;
    font-weight: bold;
}

a:hover, a:visited, i:hover, i:visited {
    color: #ED7337;
}

@font-face {
    font-family: Forest;
    src: url(../fonts/ForestRegular.woff);
}

.banner-image {
    max-width: 100%; 
    display: block; 
    margin: .75em auto;
}

.gradient {
    background-image: linear-gradient(to bottom, #82c4e7, #4293c0);
}
